*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, footer{
    background-color: #00669F;
    color: white;
}

h3{
    background-color: #1CD1B0;
}

.tarjeta{
    border-radius: 15px;
    background-color: #F3F3F3;
    width: 300px;
    height: 529px;
}

.perfil img{
    border-radius: 80px
}

.perfil{
    z-index: 333;
    display: inline-block;
    margin: auto;
}

.boton{
    background-color: #00669F;
    text-align: center;
    width: 128.78px;
}

.contenido{
    display: inline;
    padding: 50px;
}